<?xml version="1.0" encoding="UTF-8"?>
<nbm>
<!--moduleType>autoload</moduleType-->
<!--codeNameBase>max.gmail.notify/1</codeNameBase-->
<author>d.max</author>
<licenseName>Apache License, Version 2.0</licenseName>
<licenseFile>license.txt</licenseFile>
<author>d.max</author>
<homepageUrl>http://code.google.com/p/netbeansgmailnotify/</homepageUrl>
</nbm>
